@using StudyVera.FrontEnd.Models.Topics
@using StudyVera.FrontEnd.Models.UserQuestionStat
@using StudyVera.FrontEnd.Services.Concrats
@inject IUserQuestionStatsService UserQuestionStatsService
@inject IQuestionStatDetailService QuestionStatDetailService

<div class="table-responsive">
    <table class="table table-hover caption-top">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 30%;" class="fw-bold">Konu Adı</th>
                <th scope="col" class="text-center">Çözülen (Adet)</th>
                <th scope="col" class="text-center">Doğru (Adet)</th>
                <th scope="col" class="text-center">Yanlış (Adet)</th>
                <th scope="col" class="text-center">Doğruluk Oranı</th>
                <th scope="col" class="text-center" style="width: 15%;">Son Güncelleme</th>
            </tr>
        </thead>
        <tbody>
            @if (Questions == null || !Questions.Any())
            {
                <tr>
                    <td colspan="6" class="text-center text-muted p-4">Henüz çözülmüş soru kaydı bulunmamaktadır.</td>
                </tr>
            }
            else
            {
                @foreach (var question in Questions)
                {
                    float eksik = intCalculateEksik(question.TotalSolvedCount, question.TotalCorrectCount, question.LastAttemptAt, question.TopicId);
                    var isExpanded = expandedId == question.Id;
                    <tr class="align-middle"
                        title="konu eksik skoru : @eksik"
                        style="cursor: pointer;"
                        @ondblclick="@(() => ToggleExpand(question))">

                        <th scope="row" class="fw-bold">@question.Topic.Name</th>
                        <td class="text-center">@question.TotalSolvedCount</td>
                        <td class="text-center text-success fw-bold">@question.TotalCorrectCount</td>
                        <td class="text-center text-danger">@question.TotalWrongCount</td>
                        <td class="text-center">
                            <span class="badge @(question.AccuracyRate >= 0.75 ? "bg-success" : question.AccuracyRate >= 0.50 ? "bg-warning text-dark" : "bg-danger")">
                                @question.AccuracyRate%
                            </span>
                        </td>
                        <td class="text-center small">@question.LastAttemptAt.ToShortDateString()</td>
                    </tr>

                    @if (isExpanded)
                    {
                        @if (question.QuestionStatDetail != null && question.QuestionStatDetail.Any())
                        {
                            @foreach (var item in question.QuestionStatDetail)
                            {


                                <tr class="table-secondary">
                                    <td></td>
                                    <td class="text-center">@item.SolvedCount</td>
                                    <td class="text-center text-success fw-bold">@item.CorrectCount</td>
                                    <td class="text-center text-danger">@item.WrongCount</td>
                                    <td class="text-center">
                                        <span class="badge @((float)item.CorrectCount / item.SolvedCount >= 0.75 ? "bg-success" : ((float)item.CorrectCount / item.SolvedCount) >= 0.50 ? "bg-warning text-dark" : "bg-danger")">
                                            @((float)item.CorrectCount / item.SolvedCount)%
                                        </span>
                                    </td>
                                    <td class="text-center small">@item.AttemptedAt.ToShortDateString()</td>
                                </tr>
                            }
                        }
                    }
                }

            }
        </tbody>
    </table>
</div>
@code {
    [Parameter] public List<UserQuestionStatDto> Questions { get; set; } = new();
    [Parameter] public List<TopicDto> Topics { get; set; } = new();

    private int? expandedId;

    private async Task ToggleExpand(UserQuestionStatDto question)
    {
        if (expandedId == question.Id)
        {
            expandedId = null;
        }
        else
        {
            expandedId = question.Id;

            if (question.QuestionStatDetail == null || !question.QuestionStatDetail.Any())
            {
                var details = await QuestionStatDetailService.GetAll(question.Id);
                question.QuestionStatDetail = details.ToList();
            }
        }

        StateHasChanged();
    }
    private float intCalculateEksik(int TotalSolvedCount, int CorrectCount, DateTime AttemptedAt, int topicId)
    {
        int beforeDays = (DateTime.Now - AttemptedAt).Days;
        float p = 0.60f;
        int minGuven = 10;
        float priorty = Topics.Where(t => t.Id == topicId).Select(t => t.Priority).FirstOrDefault();
        float w1 = 0.7f;
        float w2 = 0.3f;
        int GuncellikSiniri = 90;
        float GuncellikPuanı = Math.Min(beforeDays, GuncellikSiniri);
        float ABY_Ratio = (((float)CorrectCount + minGuven * p) / ((float)TotalSolvedCount + minGuven));
        float ABY_Percent = ABY_Ratio * 100f;
        float BasariKayipPuanı = 100f - ABY_Percent;
        float EksikPuanı = (w1 * BasariKayipPuanı) + (w2 * GuncellikPuanı);
        return EksikPuanı * priorty;
    }
}
